@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap');

body{
    background: #141414;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1{
    color: #fff;
    font-family: 'Open Sans';
    font-size: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.perfil img{
    width: 200px;
    height: 200px;
    border-radius: 8px;
}

.perfil span{
    color: #515151;
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 25px;
    margin-top: 12px;
}

ul{
    list-style: none;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

li{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 35px;
    cursor: pointer;
}

li:last-child{
    margin-right: 0px;
}

.botao:hover{
    color: rgb(245, 242, 242);
    border: 1px solid rgb(245, 242, 242);
}

.div-botao{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.botao{
    border: 1px solid #515151;
    background-color: #141414;
    color: #515151;
    font-family: 'Open Sans';
    font-size: 20px;
    padding:  12px 35px;
    font-weight: 600;
}

@media (min-width: 1300px) and (max-width: 1350px){

    h1{
        font-size: 50px;
    }

    .perfil img{
        width: 150px;
        height: 150px;
    }

    .botao{
        font-size: 15px;
        padding:  8px 30px;
    }
}

@media (max-width: 1000px){

    h1{
        font-size: 35px;
    }

    .perfil img{
        width: 120px;
        height: 120px;
    }

    .perfil span{
        font-size: 20px;
    }

    .botao{
        font-size: 15px;
        padding:  8px 30px;
    }
}

@media (max-width: 800px){

    .perfil img{
        width: 100px;
        height: 100px;
    }

    .perfil span{
        font-size: 15px;
    }

    .botao{
        font-size: 15px;
        padding:  6px 28px;
    }
}

@media (max-width: 680px){

    .perfil img{
        width: 80px;
        height: 80px;
    }

    .perfil span{
        font-size: 12px;
    }

    .botao{
        font-size: 12px;
        padding:  6px 28px;
    }
}

@media (max-width: 580px){

    h1{
        font-size: 30px;
    }

    .perfil img{
        width: 60px;
        height: 60px;
    }

    .perfil span{
        font-size: 10px;
    }

    li{
        margin-right: 22px;
    }

    .div-botao{
        margin-top: 80px;
    }

    .botao{
        font-size: 10px;
        padding:  6px 28px;
    }
}

@media (max-width: 425px){

    h1{
        font-size: 25px;
    }

    .perfil img{
        width: 55px;
        height: 55px;
    }

    .perfil span{
        font-size: 10px;
    }

    li{
        margin-right: 20px;
    }

    .div-botao{
        margin-top: 70px;
    }

    .botao{
        font-size: 8px;
        padding:  4px 24px;
    }
}

@media (max-width: 400px){

    h1{
        font-size: 20px;
    }

    .perfil img{
        width: 45px;
        height: 45px;
    }

    .perfil span{
        font-size: 8px;
    }

    li{
        margin-right: 15px;
    }

    .botao{
        font-size: 8px;
        padding:  4px 24px;
    }
}